logs
data
data_test
output
outputs
results
objs
*.o
*.so
*.ncu-rep
*.nsys-rep
*.sqlite
.clangd
core

examples/compress
TensorFlow/RECOM
HugeCTR/D
HugeCTR/E

.cache
.vscode
__pycache__
build
compile_commands.json

*.egg-info